{% extends 'base.html' %}

{% block title %}Recommended Shows{% endblock %}

{% block content %}
<h2>Username: {{ user.username }} </h2>
<h2>Groups you are a part of</h2>
<ul>
{% for i in  groups %}
    <p>Group: {{i.groupname}}</p> 
    <p>GroupLink: <em>{{i.groupurl}}</em></p>
{% endfor %}
</ul>
<h2>Recommended TV Shows</h2>
<h4>Click on the title of the show to see more info</h4>
<ol>
{% for i in data %}

    <li><a href={{ i.imdblink }} target="_blank"><b>{{ i.title }}</b></a></li>
    <img src={{ i.image}} style="width: 15%">

{% endfor %}
</ol>
<p><a href="{% url 'selectgroupgenerate' %}">Generate preferences for group</a></p>
{% endblock %}